<h2>Cocktails : </h2>
<ul  class="list-group">
  <li class="list-group-item"
      [class.active]="selectedCoctail.id == cocktail.id"
      (click)="setSelectedCocktail($event, cocktail)"
      *ngFor="let cocktail of cocktails">{{cocktail.nom}}

    <br/>
    <button
      (click)="suppressionCocktail($event, cocktail)">
      Supprimer
    </button>
    <button (click)="ajoutPanier($event, cocktail)">
      Ajouter au panier
    </button>

    <br/>
    <div *ngIf="selectedCoctail.id == cocktail.id">
      <input type="text" value="{{modifCocktail.nom}}" (change)="updateCocktailNom($event)">
      <input type="number" value="{{modifCocktail.prix}}" (change)="updateCocktailPrix($event)">
      <br/>
      <button type="submit" (click)="modifierCocktail($event, modifCocktail)">Modifier</button>
    </div>
  </li>

</ul>

<div>
  <label id="nomCocktail">Nom du nouveau cocktail</label>
  <br/>
  <input type="text" [(ngModel)]="newCocktail.nom" name="nomCocktail">
  <br/>
  <label>prix du nouveau cocktail</label>
  <br/>
  <input type="text" [(ngModel)]="newCocktail.prix">
  <br/>
  <button (click)="ajoutCocktail($event)" class="btn btn-primary">Ajouter le cocktail</button>
</div>
