<img src="assets/img/online-cart-icon-vector.jpg" >
<div>{{panierClient.getPrix()}}</div>
<div id="divContenurPanier">
  <ul  class="list-group">
    <li class="list-group-item"
  *ngFor="let cocktail of panierClient.getCocktails()">{{cocktail.nom}}
    </li>

  </ul>

</div>
