<div >
  <app-header [panierClient]="panierClient"></app-header>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-list-cocktail (showIngredient)="setDetailIngredient($event)" (envoiePanier)="setPanierClient($event)"></app-list-cocktail>
    </div>
    <div class="col-8">
      <app-list-ingredient [cocktail]="selectedCocktail"></app-list-ingredient>
    </div>
  </div>
</div>
