<h2 *ngIf="cocktail">Ingrédient de {{cocktail.nom}} </h2>
<ul class="list-group" *ngIf="cocktail">
  <li class="list-group-item"
      [class.active]="selectedIngredient.nom == ingredient.nom"
      (click)="setSelectedIngredient($event, ingredient)"
      *ngFor="let ingredient of cocktail.ingredients">{{ingredient.nom}}
    <span class="badge">{{ingredient.quantite}}</span>
    <br/>
    <button
      (click)="suppressionIngredient($event, ingredient)">
      Supprimer
    </button>
    <div *ngIf="selectedIngredient.nom == ingredient.nom">
      <input type="text" value="{{modifIngredient.nom}}" (change)="updateIngredientNom($event)">
      <br/>
      <input type="text" value="{{modifIngredient.quantite}}" (change)="updateIngredientQuantite($event)">
      <br/>
      <button type="submit" (click)="modifierIngredient($event, modifIngredient)">Modifier</button>
    </div>
  </li>
</ul>

<div>
  <label id="nomIngredient">Nom de l'ingredient</label>
  <br/>
  <input type="text" [(ngModel)]="newIngredient.nom" name="nomCocktail">
  <br/>
  <label>Quantitée</label>
  <br/>
  <input type="text" [(ngModel)]="newIngredient.quantite">
  <br/>
  <button (click)="ajoutIngredient($event)" class="btn btn-primary">Ajouter l'ingredient</button>


</div>
